.wrapper{
    overflow-x:hidden;
    width:100%;
    margin:auto;
}
body{
    background: url(../img/bg.jpg);
    width:100%;
    height:auto;
}

header{
    background-color: #825F4F;
    text-align: center;
}
main{
   padding-top:10px;
    font-size:24px;
    color:white;
    font-weight:bold;
    font-family: 'Lily Script One', cursive;
}
.nav a{
    display:flex;
    flex-direction:column;
    text-decoration: none;
    color:white;
    line-height: 30px;
}
.online{
    text-align: center;}

button#online{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-weight: bold;;
    background-color: #825F4F;
    margin-top:70px;
    width:250px;
    border-radius: 20px 20px 20px 20px;
    height:40px;
}

.services{
    text-align: center;}

button#services{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-weight: bold;;
    background-color: #825F4F;
    margin-top:50px;
    width:250px;
    border-radius: 20px 20px 20px 20px;
    height:40px;

}
