#contact{text-align: center;
    padding-bottom:10px;
    width:auto;
    border:none;
    background-color:white;
    border-radius : 26px 26px 26px 26px;
    box-shadow: 5px 10px 15px #33313166}
/*border:none to remove its border, margin-top to give space in between all of the inputs,border-radius to make it more circular and width 90% to make it not take the whole width of the contact form*/

input{  width:90%;
    border-radius:7px 7px 7px 7px;
    margin-top:15px;
    padding:10px;
    background-color:#eeee;
    border:none;}

/*Changed the font of the placeholder*/
::placeholder{ font-family: 'Montserrat-thin', sans-serif;}

/*Changed it's font family , aligned it left */
.space{ font-size:14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;}
/* lowered the width of the checkbox because it would break lines with the label, */
input#check{
    width:10px;
    margin-left: 10px;}

/* Margin-top to give it space from the checkbox, remove it's border, changed it's background color, adjusted width and height of it, and border radius to make it more circular*/
#drive{ margin-top:30px;
    font-family: 'monsterrat-ExtraBold', sans-serif;
    font-size:20px;
    border:none;
    font-weight: bold;
    background-color:#57eeab ;
    width:250px;
    height:55px;
    border-radius:10px 10px 10px 10px;}
    
p#check{ font-family: 'Montserrat', sans-serif;
        font-size:16px;}