
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;400;500;600&display=swap');


h1{ font-family: 'Bitter', serif;
    font-weight: 600;
    font-size:45px;
    margin-top:30px;
    text-align: center;}
h2{
    margin-top:30px;
    text-align: center;}
#contact{
    margin-top:25px;
    text-align: center;
    padding-bottom:10px;
    width:auto;
    border:none;
    background-color:white;
    border-radius : 26px 26px 26px 26px;
    box-shadow: 5px 10px 15px #33313166}
/*border:none to remove its border, margin-top to give space in between all of the inputs,border-radius to make it more circular and width 90% to make it not take the whole width of the contact form*/

input{  
    width:90%;
    border-radius:7px 7px 7px 7px;
    margin-top:15px;
    padding:10px;
    background-color:#eeee;
    border:none;}


::placeholder{
    font-family: 'Questrial', sans-serif;
    font-weight: 300;}


.space{ 
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;}

input#check{
        width:10px;
        margin-left: 10px;}


#send{ 
    margin-top:30px;
    font-family: 'Questrial', sans-serif;
    font-weight:600;
    font-size:20px;
    border:none;
    font-weight: bold;
    background-color:#DEB391;
    width:250px;
    height:55px;
    border-radius:10px 10px 10px 10px;}

img{
    height:auto;
    margin:auto;
}
p{
    margin:auto;
}

.grid{
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);}

footer{
    margin-top:15px;
    text-align: center;
}